.dashboard-group-holder {
    margin: 0px;
    padding: 8px;
}

.dashboard-group {
    background-color: var(--dashboard-group-bg-color);
}

.dashboard-group-header-icon {
    max-width: 32px;
    margin: 0px;
    margin-right: .5rem;
}

.dashboard-group-header-name {
    vertical-align: middle;
}

.dashboard-group-header {
    text-align: center;
    padding-top: .5rem;
}

.dashboard-group-body {
    max-height: 250px;
    overflow: auto;
    overflow-x: hidden;
}

.dashboard-col {
    vertical-align: middle;
    width: 100%;
}

.dashboard-switch-col {
    float: right;
    padding-right: 8px;
}

    .dashboard-switch-col label {
        margin-bottom: 0px;
    }

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 28px;
}

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 20px;
        width: 20px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #5ab15e;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
}

.slider.round {
    border-radius: 27px;
}

    .slider.round:before {
        border-radius: 50%;
    }
