@using Blazorise.Icons.FontAwesome;
@using System.Globalization;

<div class="language-selector form-group row">
    <label class="col-form-label col text-truncate">@Localizer["Language:"]</label>
    <div class="col align-self-center dropdown">
        <a class="btn dropdown-toggle" role="button" data-toggle="dropdown">
            <img src="images/language-flags/@(@CultureInfo.CurrentUICulture.Name == "en-US" ? "en-GB" : @CultureInfo.CurrentUICulture.Name)-flag.svg" width="24" />
        </a>

        <div class="dropdown-menu">
            @foreach (var cultureName in SupportedCultures)
            {
                <a class="dropdown-item" @onclick="async () => await SelectCultureAsync(cultureName)">
                    <img src="images/language-flags/@(cultureName == "en-US" ? "en-GB" : cultureName)-flag.svg" width="24" />
                </a>
            }
        </div>
    </div>
</div>