.user-menu {
    display: flex;
    height: 100%;
    width: 100%;
    flex-flow: row;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.user-menu-start {
    width: 100%;
}

.user-menu-end {
    width: 100%;
}
